footer {
    background: $footer-background-color;
    bottom: 0;
    width: 100%;
    
    .media-icon {
        margin-left: 10px;

        &:hover {
            text-decoration: none;
        }
    }

    h6 {
        font-weight: 700;
        i {
            margin-right: 15px;
        }
    }
}