* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Jost', sans-serif;
}
body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
  
}

h2 {
  margin: 0;
}
p {
  margin: 0 0 16px;
}
td, th {
  padding-bottom: 12px;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}