header{
    nav{
        background: rgba(0, 0, 0, 0.8);
    }
    .nav-item {
        position: relative;
    }
    #cartCount {
        position: relative;
        height: 1rem;
        width: 1rem;
        background: white;
        color: black;
        border-radius: 50%;
        border: 1px solid white;
        text-align: center;
        font-weight: 600;
        top: -10px;
        right: 12px;
        user-select: none;
    }
}
